.container{
    position: relative;
    background-image: url('https://media.istockphoto.com/id/1208379871/photo/close-up-of-young-happy-woman-eating-pasta-at-dining-table.jpg?s=612x612&w=0&k=20&c=TL0yF4S4EEcF24iY4Jky9cY2Am82Mhkj0keDbi929HI=');
      background-size: cover;
      background-repeat: no-repeat;
      /* width: 200%; */
      height: 87.6vh;
    }
.content {
align-items:self-end;
/* margin-left: 10%; */
/* margin-left: 40%; */
padding: 1%;
width: 50%;
}
.content h1{
   color: whitesmoke;
   
   font-family: 'Dancing Script', cursive;
   font-weight: 700;
   margin-left: 2%;
   margin-top: 25%;
}
.content p{
color: aliceblue;

   
   font-family: 'Dancing Script', cursive;
   font-weight: 300;
   margin-left: 2%;
   /* margin-top: 25%; */
}

 /* button{
    margin: 10px 0px 0px;
    padding: 10px 45px;
    color: rgb(14, 13, 13);
    align-items: center;
    position: relative;
    margin-left: 2%;
    border-radius: 25px;

} */
.button {
  padding: 7px 20px;
  background-color: rgb(231, 125, 4);
  color: white;
  border-radius: 25px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 5%;
  
}

.button:hover {
  background-color: navy;
  cursor: pointer;
}
