<div class="container">

    <div class="content">
        <h1>From farm to plate.</h1>
        <p>
            We typically offer lots of fresh produce, local meat,<br> and poultry, and organically grown produce. These <br> are all typically more expensive than frozen, canned, or premade foods <br> that have a longer shelf life. The demand for healthy menu items is also debatable
        </p>
         <!-- <button>order now</button> -->
         <a href="/menu" class="button">Order Now</a>
    </div>

</div>
