.container{
    position: relative;
    background-image: url('https://wallpapercave.com/wp/wp1874155.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      height: 87.6vh;
    }
.content {
align-items: flex-start;
/* margin-left: 10%; */
padding: 2%;
width: 50%;
}
.content h1{
   color: whitesmoke;
   
   font-family: 'Dancing Script', cursive;
   font-weight: 700;
   margin-left: 2%;
   margin-top: 25%;
}
.content p{
color: aliceblue;

   
   font-family: 'Dancing Script', cursive;
   font-weight: 300;
   margin-left: 2%;
}



.button {
  padding: 7px 20px;
  background-color: rgb(231, 125, 4);
  color: white;
  border-radius: 25px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 5%;
  
}

.button:hover {
  background-color: navy;
  cursor: pointer;
}